APP_NAME=IP Management API
APP_ENV=local
APP_KEY=base64:to7Mb37x+Op/rAfhUcNQeHqEA0pzfdpCz2Di/UK1jW0=
APP_DEBUG=true
APP_URL=http://localhost:8020
ASSET_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=common-mysql
DB_PORT=3306
DB_DATABASE=ip_management_db
DB_USERNAME=root
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
PUBLIC_STORAGE_FILESYSTEM_DISK=public
PRIVATE_STORAGE_FILESYSTEM_DISK=private
PUBLIC_STORAGE_URL=http://localhost:8020/storage
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

DEFAULT_REDIS_CONNECTION=cache

# Redis Configs
REDIS_CACHE_SCHEMA=tcp
REDIS_CACHE_HOST=common-redis,common-redis-slave
REDIS_CACHE_MASTER_HOST=common-redis
REDIS_CACHE_PORT=6379
REDIS_CACHE_USERNAME=
REDIS_CACHE_PASSWORD=redispassword
REDIS_CACHE_DATABASE=0
REDIS_CACHE_CONNECT_TIMEOUT=0.200
REDIS_CACHE_READ_WRITE_TIMEOUT=0.200
REDIS_CACHE_USE_SENTINEL=0
REDIS_CACHE_SENTINEL_SERVICE_NAME=


MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=digi-dev-bucket
AWS_USE_PATH_STYLE_ENDPOINT=true
AWS_ENDPOINT=http://host.docker.internal:8855
AWS_ROOT_FOLDER_PATH=ryze


APP_TIMEZONE='Asia/Dhaka'

