#############################################################
# Docker Compose Common Settings
#############################################################

# Necessary for Windows
COMPOSE_CONVERT_WINDOWS_PATHS=0

# Select which docker-compose files to include.
COMPOSE_FILE=docker-compose.yml:docker-compose.override.yml
#COMPOSE_FILE=docker-compose.yml:docker-compose.override.prod.yml

# Change the separator from : to ; on Windows
COMPOSE_PATH_SEPARATOR=:

# Define the prefix of container names.
APP_IMAGE_NAME=ip-management-api

APP_CONTAINER_NAME=ip-management-api

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge

# Enter your Docker Host IP (will be appended to /etc/hosts). Default is `10.0.75.1`
#DOCKER_HOST_IP=10.0.75.1

# Timezone
TIMEZONE=Asia/Dhaka

# Proxy
APP_HTTP_PROXY=
APP_HTTPS_PROXY=
APP_NO_PROXY=localhost,127.0.0.*

# Build Mode ['dev', 'stage', 'prod']
DOCKER_BUILD_MODE=stage

# DOCKER Registry
#DOCKER_REGISTRY=host.docker.internal:5000

# Docker Build Context Dir (end by slash)
DOCKER_BUILD_CONTEXT_DIR=../../

# Docker Volume Root Dir (end by slash)
DOCKER_VOLUME_APP_ROOT_DIR=../../source/main

# Service ports
APP_PORT=8443
LOCAL_PORT=8020